.nav {
  background-color:white;
  text-align:center;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-style: solid;
  border-bottom-color: #97383D;
  border-top-style: solid;
  border-top-color:#97383D;
  border-size:10pt;
}

.navLinks {
  padding: 20px;
  color:#13102C;
  font-size: 18pt;
  font-family: "Lucida Console", "Courier New", monospace;
}


.footerHeader{
  color: white;
}
.footer{
  color : white;
  background-color : #13102C;
  opacity: 0.75;
}
.footerLinks{
  color: whitesmoke;
  background-color: #5a5667;
}

td, th {
  padding: 15px;
  vertical-align: top;
}

.title{
   text-align:center;
  margin: 50px;
  color: white;
  background-color: #97383D;
  
  width: 300px;
  border-radius: 20px;
  
}
.text{
  margin: 50px;
  background-color: #5a5667;
  opacity: 0.90;
  color : white
}

.list{
  margin: 50px;
  background-color: #5a5667;
  opacity: 0.90;
  color : White
}

body{
  text-align: left;
   background-image: url(https://lh3.googleusercontent.com/pw/AP1GczN1ba226Vm4ujWqBgJ0DJ3nzQ_79nAtGl0bpxFCIx5pY3-j007i8kgD2ypAfgoFPwJamKMzt1Inhy97siJopC6g--2cEDq8O3b_pIjb8_C4Me9gOhU7jlmhI5Nmz1tHQmNxVfMyVYhYSfVOiVdUWVDyQgy2WGc53HnJpTR4ihretMzue19-wwBaSCrpl69RyMO3-3mj-e41wF0BQvBe1LoEoq7y82mE0viyGdUB0ylnF8CPFGj1JjCJLTdh0cxZwdfVLBadDMag1Oh2t4O2p3k79iO4uZJpUNNw_aqelvAr-flJRIrb9GUGZF4R8-NvsS3aSVAvd9G6X-9K7icgHue-0S5ixGKWfwlkoLT3FTNoHkj0yTwF0_7CsJI_VjJKNMwGLDXyEACUVZHzYwOz_1hZnW4JlauMnPOKPNJuLN56YAGwGiSg-0fyoYSx_EIgRmRWNgxQFXZNOzupNJhjAepr4obm6vq30V-nolgK7oQBkz74KBAWUzFP2tH4Ev18ga8FCxAABC43E56Nm79_uUTg2gO9zal95r9Bbzjb16EcWmIab7MUZadWXWFtsrKCGaoRugq-9rFZv7DeUHCyOz3G0FdjjXHjnWbXtKkcF04eMK3eMxyVvY3K9HIaFD7J4vgOnc4GuVcEclUjoZKUVvgkIYKg_blRoeRJf8G8njTUhy6NUzc_pavt8u4j4V5bDhX0uL3McFYbd0AbRiPa14wRvM2liIXmN_9PPlZKbhPv9jcRt3bE675O0eKGJr1-77yhKrYxuB5K0_YYluYLOc2Qy3MKNxX-Pb52n0D1JFikyrHalyEMzvLbnXKX2np5865At0Ns3sTVy2G1iQ4aHJXXmBVDEXorOB7k-D-lRtOHsCpNZzGGMyifUlwMuj9Z1B9iqTwWqJuZ66V6Ug2zzdj5aAy4hyApvmQcmarD77m5qL670YrMBth8SFlj-6WYZvDSEg4dqWjQkx6TNzaX7QKtfWmF5R9-gA=w784-h1394-s-no?authuser=0);
  
  background-size: cover;
  background-repeat: no-repeat;

}