body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.admin-container {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #13102C;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.section {
    display: none;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #97383D;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5a5667;
}
img {
  width: 400px;  /* Genişlik */
  height: 300px; /* Yükseklik */
}
h2 {
    color: #000066;
}
label {
    color: #000066; 
}