.nav {
  background-color:white;
  text-align:center;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color:#97383D;
  
  border-size: 10pt;
}

.navLinks {
  padding: 20px;
  color:#13102C;
  font-size: 18pt;
  font-family: "Lucida Console", "Courier New", monospace;
}

.div1{
  margin: 50px;
  background-color: #5a5667;
  opacity: 0.90;
  color : white
}

.footerHeader{
  color: white;
}
.footer{
  color : white;
  background-color : #13102C;
  opacity: 0.75;
}
.footerLinks{
  color: whitesmoke;
  background-color: #5a5667;
}

td, th {
  padding: 15px;
  vertical-align: top;
}

.title{
  text-align:center;
  margin: 50px;
  color: white;
  background-color: #97383D;
  width: 200px;
  border-radius: 20px;

}

.table{
  text-align: left;
  margin: 50px;
}

body{
  text-align: left;
   background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMuEeujx_fFwhTV3h6nPlaBbFefQTxsA3h1FCVvV65anPySY12CudSN8frMvrXcSeUyWdLrWSyA3baFnmkA1qJhRdRLr0YAFbPJGHnU6KdvJOaUDV13Grc3KfbN7Asta3Oa4ODnzsbGJTaaqvhDWe8Xbg=w664-h1180-s-no?authuser=0);
  
  background-size: cover;
}
