.navUP {
  background-color:white;
  text-align:center;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-style: dotted;
  border-top-style: dotted;
}
.navDownHeader{
  color: blue;
}
.navDown2{
  color : black;
}
.navDown1{
  color : black;
}
.navDownLinks{
  color: blacksmoke;
}
.navUpLinks {
  color:#ff0066;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:18px;
}
.div1{
  background-color: #5a5667;
  opacity: 0.75;
  color : white
}

body{
   background-image: url(https://lh3.googleusercontent.com/pw/AP1GczPMM8lLcN_bN5qJYgosZ7s_O4AFRmys_jnlacosLJwTdZzaUrFbbhXyKSll_jUQjbBEJk-2siwi6Ipe-5FuAoSGvb0bu4EgTOgaLh7VRRL8RxLVgAGcsRFMKj6sAOEQF_k8lq6t04VV9jsNvT11Ic5iwNhmtdbRo4LlaXjAOcaX68lHuYRobls5A2leFPz2qe1trVLbHBlje0lepSisq1FmR0E4VpG829Xb5npMEcquMBbo2TiFWfph00LcGRhIPourLUzuevgG0WlZakHB9Q3PLdA59bMOhGtvGBGM1th8K0AQs1hQo82ngUZig5yU7K537ZOdQOxSrMLbSFxsGCFkiwFZ6FTsfFx-dYdlN_OlWwR3pHXEE_dcotTfBDiUO3R-ldRjfx9Pte0p-xn5aEoPywOaqmhTD6iBZEKrl1AGwzF-o4uYbiX9eFQVO3iZrGhbng4bkTOWSYiWsRRghk9ywaSzTN77Q0vaMg96ISwFf6IBG8VYR-Y1FwUhR3NlzC5Ac86iKIYINR5ecdXD4eTdkFZD4G4rxzLq3c1VbHX4dnStUMviONCfthqhEZCJtY_dTZCWX3z_Oxso1ms9tPhy9moiovJe-qwKDxu5QnGyRSaCww6y9mWtI__ttBzoUC-85slVYme5SmKeLDOwmjfy6MYTOYn_mh3a88GPoxV3QskyTDUg10H6qLC_O7-6OCJOuJqz0vh7MJXYWBQMjcGiUptCbWP20rc0JU_TEvIrI2BE6L6jb4kSRUafmFEewzPSfcg9zWefgF40OFn_Q0Jw3zNudcqw7n9ITe_QgIAQoZhBPGodDEB23O2DaedZryXPp9xYCQ3p7W4PBELSf7AFaqRZhbaJXTfNdFI2D4yncfUd0k8qn_e-hvTtIIz1QuNOmRfui3iX0kek3Lc1fzOS_1kM-fuA8OH2cA1JH2znxtCq2--fUqhRfFKmyBFOmU83NJQ2ADQiSsoEoq_iVn4F-fLr-qw=w366-h578-s-no?authuser=3);
  
  background-size: cover;
}
