body {
  text-align: left;
  background-image: url(https://raw.githubusercontent.com/beyzanurtaskesen/YazilimMuhendisligi_Projesi/refs/heads/main/ktbackground/KT_background.PNG); /* Arka plan resmi */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.App {
  font-family: Arial, sans-serif;
  margin: 0;
}

.title {
  text-align: center;
  margin: 50px auto;
  color: white;
  background-color: #97383D;
  width: 300px;
  border-radius: 20px;
}

.div {
  margin: 0px;
  background-color: rgba(90, 86, 103, 0.5);
  opacity: 0.90;
  color: white;
  padding: 20px;
}

.text {
  font-size: 16px;
  color: white;
  line-height: 1.6;
}