.SContainer {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.STitle {
  text-align: center;
  font-size: 2.5rem;
  color: #281cb6;
  margin-bottom: 20px;
}

.SList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 75px;
  justify-content: center; /* Kartları yatayda ortalar */
}

.SCard {
  background: #ECEBDE;
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 20px;
  width: 300px; /* Kartların sabit genişliği */
  height: 400px; /* Kartların sabit yüksekliği */
  text-align: center;
  box-shadow: 0 15px 20px rgba(146, 0, 0, 0.3);
  opacity: 0.85;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.SCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.SNameContainer {
  background-color: #13102c;
  border: 1px solid #171717;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.SName {
  font-size: 1.5rem;
  color: white;
}

.SDescription {
  font-size: 1rem;
  color: black;
}

.SImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 8px;
  padding: 20px;
  height: 150px; /* Görsel alanı için sabit yükseklik */
  margin-bottom: 10px;
}

.SImage img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.blueShape {
  width: 40%;
  min-width: 500px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  background-color: #6b282f; /* Mavi renk */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.445); /* Hafif gölge */
  border-radius: 50px;
}

.blueShape p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .blueShape {
    width: 40%;
    min-width: 400px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: #770000; /* Mavi renk */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.445); /* Hafif gölge */
    border-radius: 50px;
    opacity: 0.65;
  }

  .STitle {
    font-size: 1.8rem;
  }

  .SCard {
    padding: 15px;
  }

  .SName {
    font-size: 1.2rem;
  }

  .SDescription {
    font-size: 0.8rem;
  }

  .SImage {
    height: 120px; /* Görsel alanı daha küçük ekranlarda küçülür */
  }
}

@media (max-width: 480px) {
  .blueShape {
    width: 40%;
    min-width: 400px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: #770000; /* Mavi renk */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.445); /* Hafif gölge */
    border-radius: 50px;
    opacity: 0.65;
  }
  .STitle {
    font-size: 1.8rem;
  }

  .SCard {
    padding: 15px;
  }

  .SName {
    font-size: 1.2rem;
  }

  .SDescription {
    font-size: 0.8rem;
  }

  .SImage {
    height: 120px; /* Görsel alanı daha küçük ekranlarda küçülür */
  }
}
