.nav {
    background-color:white;
    text-align:center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color:#97383D;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
  }
  
  .navLinks {
    padding: 20px;
    color:#13102C;
    font-size: 18pt;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .div{
    margin: 50px;
    background-color: #5a5667;
    opacity: 0.90;
    color : white
  }
  
  .footerHeader{
    color: white;
  }
  
  .footer{
    color : white;
    background-color : #13102C;
    opacity: 0.75;
  }
  
  .footerLinks{
    color: whitesmoke;
    background-color: #5a5667;
  }
  
  .title{
    text-align:center;
    margin: 50px;
    color: white;
    background-color: #97383D;
    width: 200px;
    border-radius: 20px;
  }
  
  .table{
    text-align: left;
    margin: 50px;
  }
  
  .body{
    text-align: left;
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMD_adcMNm2ayJ-xQ4wX_ot1upxXVpMRZckZDOZeJuz7CEf9b0j-K4Wiui4Va06YM7tYgD-0tO2kdYfBhlaVHSqSMSN-MoQLMgRpo-u374B0o3dPigAZp7oazGIdFK9Uuze5mB2GW-0C9zKpgdrZ97KktT1hthHWB43Sx3Sx4Qb-9sJuSwDVdIWakeiKIfLA6oxKPgotwNv4Six8caM-PQceyOVgh1ZbqZ9UvN0gbKDiEcDISc7DxuUGaKZhDy6-vlK4Pxpw6HAsXF5rYj_SRuy6wCS3jCi0GLFlWV-FR75yh3uOjMpBFgl0Y_lt77pjAbX49zUsnTzGrtKqolgmmOTqtel99IK298Q8vWhvDKvWCPorvnfFST1K1i9HZXMLhoEc5PZ0Oo9YyJB-c1x4sEA7FPzOdPe5q2SqJC3kq9ZzdUtOGH1qKSdkRSj6T6JmdQluEWMeNaGUycT5woN-eitHb2vjSj-9Yk1r5Vd3LGLjpqhPAZn82NYXoixC4By9NZLELbpIV1B3NJFGaY1QZJausmex9Gcy9sHBHdrfV4K4_b9riQg6gFmv_ybrlwvi1baSHCLwkbvsO0GwoPNuM-QHzI-Ak6SWf4s2M2vcCywfrpryQtmye7J05Jd4jXujQ_CQEz6pCPNpiplsXAytgBvSNQB7SSXrxpkVXlt0E1v_48zGhxyoKIL3aAHBZrgL3gAnZ_akpJCiHludswcPCP1_J9RwG1Lrl_Yne4uv6sa8A6txoA_Z9t-SaMmyJJSI7FmgCwQ-l-M57JdPe4Oy724uaLL9BExuGACikJ7mk6jXKcA_kcveGiakFbXC5HaEKyA9R1sDEmNP7ApWJVLSBQIgzH_uPk45ee2Y1tNAtsLGSevnlFUaEC6JSlFfl0LgJ5Yz1Bmrh0Qj-zaXGGl3SAncsrNhRH4WYF-INAp7jlLH4HaG6-SlhyNSxxNbWD7OPB0bMF4p3hL5Yhb-SjCpldCH1tH-KPP9w=w664-h1180-s-no?authuser=0);
    background-size: cover;
    background-repeat: no-repeat;
  }