/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    background-image: url(https://raw.githubusercontent.com/beyzanurtaskesen/YazilimMuhendisligi_Projesi/refs/heads/main/ktbackground/KT_background.PNG);
; /* Placeholder for background */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

/* Container styling */
.container {
    text-align: center;
    padding: 3vw;
    max-width: 95vw;
    margin: auto;
}

/* Title styling */
.title {
    margin: 50px auto;
    padding: 10px 20px;
    color: white;
    background-color: #97383d;
    width: fit-content;
    border-radius: 20px;
    text-align: center;
    font-size: 2.5rem; /* Responsive font size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Content box */
.content {
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(90, 86, 103, 0.5);
    color: white;
    border-radius: 10px;
    line-height: 1.6;
    text-align: left;
    max-width: 90vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Text styling */
.text {
    font-size: 1.5rem; /* Better scaling */
}