.div{
  margin: 50px;
  background-color: rgba(90,86,103,0.5);
  color : white
}

.footerHeader{
  color: white;
}
.footer{
  color : white;
  background-color : #13102C;
  opacity: 0.75;
}
.footerLinks{
  color: whitesmoke;
  background-color: #5a5667;
}

td, th {
  padding: 15px;
  vertical-align: top;
}

.title{
  margin: 50px auto;
  color: white;
  background-color: #97383D;
  width: 28vw;
  border-radius: 20px;
  text-align:center;
  font-size: 4vw;
}

.table{
  text-align: left;
  margin: 50px;
}

body{
  text-align: left;
  background-image: url(KT_background.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

.text{
  font-size: 3vw;
}
