.div{
  margin: 50px;
  background-color: rgba(90,86,103,0.5);
  color : white
}
.title{
  margin: 50px auto;
  color: white;
  background-color: #97383D;
  width: 28vw;
  border-radius: 20px;
  text-align:center;
  font-size: 4vw;
}

.table{
  text-align: left;
  margin: 50px;
}

body{
  text-align: left;
  background-image: url(KT_background.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

.text{
  font-size: 3vw;
}
