body {
  text-align: left;
  background-image: url(https://raw.githubusercontent.com/beyzanurtaskesen/YazilimMuhendisligi_Projesi/refs/heads/main/ktbackground/KT_background.PNG); /* Arka plan resmi */
  background-size: Max-content;
  background-repeat: no-repeat;
  margin: 0;
 
  
}

.App {
  font-family: Arial, sans-serif;
  margin: 0;
}

.title{
  text-align:center;
  margin: 50px auto;
  color: white;
  background-color: #97383D;
  
  width: 400px;
  border-radius: 20px;
}

.title2{
  text-align:center;
  background-color: #97383D;
  color: white;
  
}

.title3{
  color:white;
   }

.photo-gallery{
  margin: 0px;
  padding:20px;
  background-color: rgba(90, 86, 103, 0.5);
}


.photo-gallery img{
  border-radius: 8px;
  width:500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}